# Node modules
node_modules/

# Environment variables
.env

# Playwright test results
test-results/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Coverage reports
coverage/

# Output of Playwright traces
*.zip 